name: Build CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    strategy:
      matrix:
        java: [8]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: test
        run: ./gradlew clean test --stacktrace --no-daemon

      - name: upload test result
        uses: actions/upload-artifact@v4
        with:
          name: Test Result
          path: |
            build/test-results/

      - name: build
        run: ./gradlew clean build -xtest --stacktrace --no-daemon

      - name: get short sha
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: read gradle.properties
        id: prop_info
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: gradle.properties
          properties: "artifact_version"

      - name: create github release
        if: github.repository_owner == 'erha134' && github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        with:
          name: "${{ steps.prop_info.outputs.artifact_version }}"
          tag_name: "${{ steps.prop_info.outputs.artifact_version }}"
          target_commitish: ${{ github.event.ref }}
          generate_release_notes: true
          token: ${{ secrets.RELEASE_TOKEN }}
